footer {
    padding: 50px 20px;
    background: $footer-bg;
    .copyright {
        color: rgba(255, 255, 255, .7);
        text-align: center;
        margin-top: 50px;
        margin-bottom: -30px;
    }
    .newsletter{
        color:$main-color;
    }
     .newsletter-input {
                background: transparent;
                border:1px solid $main-color;
                padding:5px;
                margin-left: 10px;
            }
    .footer-container {
        max-width: 1200px;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        justify-content: space-around;


        ul.social-links {
            li {
                display: inline;
                list-style: none;
                a {
                    margin-right: 20px;
                }
                a span {
                    color: $main-color;
                }
            }
        }
    }
}

.btn-footer{
  padding: 6px 20px;
  background: $main-color;
  border: none;
  color:white;
  margin-bottom: 15px;
}
