header {
    width: 100%;
    min-height: 600px;
    height: 100vh;
    background-image: url("../img/header-bg-3.jpg");
    background-color: lighten($second-color, 10%);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    .mobile-menu {
        display: none;
        a {
            color: $main-color;
            font-size: 1.2rem;
            cursor: pointer;
        }
        i {
            font-size: 2rem;
        }
    }
    .mobile-nav {
        display: none;
    }
}

.header-content {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    p {
        color: white;
        font-size: 2.5rem;
        margin-bottom: 10px;
        font-weight: 100;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, .3);
        word-spacing: 4px;
        letter-spacing: 1px;
    }
    .header-btn {
        margin-top: 30px;
        a {
            display: inline-block;
            padding: 10px 40px;
            font-size: 1.1rem;
            font-weight: 300;
            text-decoration: none;
            border-radius: 200px;
            transition: all 0.2s;
            cursor: pointer;
            &:last-child {
                color: $main-color;
                border: 1px solid $main-color;
                position: relative;
            }
            span {
                margin-right: 5px;
            }
        }
        #about-btn {
            position: relative;
            color: white;
            margin-right: 10px;
            border: 1px solid $main-color;
            transition: width 0.1s;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $main-color-shadow;
                border-radius: 200px;
                transition: width $transition-time;
            }
        }
        #contact-btn {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background: $main-color-shadow;
                border-radius: 200px;
                transition: width $transition-time;
            }
        }
    }
}

.top-header {
    margin: auto;
    max-width: $wrapper-width;
    padding: 50px 15px 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 200 !important;
    img {
        width: 100px;
        height: 100px;
        margin-top: -20px;
    }
    nav.top-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 700px;
        ul li {
            display: inline-block;
            margin-right: 10px;
            padding: 10px;
            cursor: pointer;
            transition: background $transition-time;
            &:hover {
                background: $main-color-shadow;
            }
            a {
                color: white;
                font-family: lato;
                font-weight: 300;
                text-shadow: 1px 1px 1px rgba(255, 255, 255, .3);
                font-size: 1rem;
                cursor: pointer;
                span {
                    padding-right: 5px;
                    color: $main-color;
                    opacity: 0.8;
                }
            }
        }
    }
}
