#portfolio {
    background-image: url('../img/header-bg-2.jpg');
    background-color: $second-color;
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed;
    h2 {
        color: white;
    }
    .card-portfolio {
        width: 30%;
        padding: 20px;
        .fa {
            color: $main-color;
        }
        img {
            width: 100%;
            height: auto;
            opacity: 0.35;
            transition: opacity $transition-time, transform $transition-time;
            cursor: pointer;
            &:hover{
                opacity: 1;
            }
        }
        .rating {
            width: 100%;
        }
        h3 {
            margin-top: 10px;
            a {
                color: $main-color;
                text-decoration: none;
                font-weight: 300;
                font-size: 1.5rem;
            }
        }
        p {
            text-align: justify;
            color: white;
            padding: 0;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        a.card-link {
            background: $main-color-shadow;
            padding: 5px 15px;
            color: white;
            text-decoration: none;
            font-weight: 300;
            font-size: 1.1rem;
            border-radius: 5px;
            span {
                font-size: 0.68rem;
            }
        }
    }
}
