$main_color:#009688;
$font-size-desktop:20px;
$font-size-tablet:18px;
$font-size-phone:16px;
$padding-main:20px;
$padding-top-main:80px;
$padding-bottom-main:80px;
$main-text-color:#555;
$footer-bg: #282c34;
